.tasksWrapper {
  width: 100%;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 1px solid rgb(80, 80, 80);
  padding: 20px;

  transition: background-color 0.2s;
  cursor: pointer;
}

.task:hover {
  background-color: #2c2f3a;
}
