.button {
  background-color: var(--border);
  border-radius: 12px;
  border: 1px solid var(--border);

  font-size: 14px;
  font-weight: 500;

  padding: 12px;
  cursor: pointer;
  transition: border-color 0.2s;
}

.button:hover {
  border-color: #888;
}
